flows_mac.local.json
[{"id":"e7dc5792.a2b5d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dd6e8aab.ec1bc8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"91fa58a0.32c198","type":"mqtt-broker","z":"","name":"local-mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a0927a32.c4e5d8","type":"debug","z":"e7dc5792.a2b5d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":100,"wires":[]},{"id":"2ac14014.e5283","type":"inject","z":"dd6e8aab.ec1bc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["847c3ff.b9334c"]]},{"id":"847c3ff.b9334c","type":"http request","z":"dd6e8aab.ec1bc8","name":"","method":"GET","ret":"txt","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","x":270,"y":180,"wires":[["d6549895.c5df88"]]},{"id":"d6549895.c5df88","type":"csv","z":"dd6e8aab.ec1bc8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":410,"y":180,"wires":[["360f6a59.7c7686","895eaa24.4ef0a8"]]},{"id":"360f6a59.7c7686","type":"debug","z":"dd6e8aab.ec1bc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":180,"wires":[]},{"id":"895eaa24.4ef0a8","type":"switch","z":"dd6e8aab.ec1bc8","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":260,"wires":[["9d0c91a3.a8383"]]},{"id":"9d0c91a3.a8383","type":"change","z":"dd6e8aab.ec1bc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"!PANIC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":260,"wires":[["1a9f5702.674d49"]]},{"id":"1a9f5702.674d49","type":"debug","z":"dd6e8aab.ec1bc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":260,"wires":[]},{"id":"276e3bf1.7f98f4","type":"function","z":"e7dc5792.a2b5d8","name":"","func":"console.log('test');\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["a0927a32.c4e5d8"]]},{"id":"a4a4fbcd.09fed8","type":"inject","z":"e7dc5792.a2b5d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":100,"wires":[["276e3bf1.7f98f4"]]}]