flows_mac.local.json
[{"id":"dd6e8aab.ec1bc8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"91fa58a0.32c198","type":"mqtt-broker","z":"","name":"local-mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2ac14014.e5283","type":"inject","z":"dd6e8aab.ec1bc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["847c3ff.b9334c"]]},{"id":"847c3ff.b9334c","type":"http request","z":"dd6e8aab.ec1bc8","name":"","method":"GET","ret":"txt","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","x":270,"y":180,"wires":[["d6549895.c5df88"]]},{"id":"d6549895.c5df88","type":"csv","z":"dd6e8aab.ec1bc8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":410,"y":180,"wires":[["360f6a59.7c7686"]]},{"id":"360f6a59.7c7686","type":"debug","z":"dd6e8aab.ec1bc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":180,"wires":[]}]