flows_mac.local.json
[{"id":"dd6e8aab.ec1bc8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"91fa58a0.32c198","type":"mqtt-broker","z":"","name":"local-mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3d5cdfe1.a6f4b","type":"sqlitedb","z":"","db":"/tmp/test-node-red"},{"id":"14151108.0057df","type":"http in","z":"dd6e8aab.ec1bc8","name":"","url":"/network/ethernets","method":"get","upload":false,"swaggerDoc":"","x":190,"y":220,"wires":[["d330b6e6.ca92a8","6e23c7ce.5e0518"]]},{"id":"d330b6e6.ca92a8","type":"debug","z":"dd6e8aab.ec1bc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":580,"y":220,"wires":[]},{"id":"6e23c7ce.5e0518","type":"http response","z":"dd6e8aab.ec1bc8","name":"","statusCode":"200","headers":{},"x":460,"y":320,"wires":[]}]